{% extends "base.html" %}
{% load static %}
  
{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <h2 class="title-large">Punto de Venta</h2>
        <hr style="background-color: black; height: 3px;">

        {% if user.is_staff %}
        <!-- Navigation menu for Caja operations -->
        <div class="mb-4 dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Operaciones de Caja
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'ventas:apertura_caja' %}">Apertura de Caja</a></li>
                <li><a class="dropdown-item" href="{% url 'ventas:corte_caja' %}">Corte de Caja</a></li>
            </ul>
        </div>
        {% endif %}

        <!-- Wrapper container with black background, horizontally aligned items -->
        <div style="background-color: black; padding: 20px; color: white; border-radius: 10px; display: flex; align-items: center; gap: 20px;">
            <!-- Search bar for Código -->
            <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
                <input type="text" id="inputBuscarCodigo" class="form-control" placeholder="Buscar Código">
                <button type="button" id="btnLimpiarCodigo" class="btn btn-light btn-sm" style="margin-left: 5px;">
                    <i class="fa-solid fa-broom"></i>
                </button>
            </div>
            <!-- Search bar for Product -->
            <div class="form-group" style="flex-grow: 1;">
                <input type="text" id="inputDescripcionProducto" class="form-control" placeholder="Descripcion Producto" style="width: 520px" disabled>
            </div>

            <!-- Field for Precio -->
            <div class="form-group" style="flex-grow: 1;">
                <input type="text" id="inputPrecio" class="form-control" placeholder="Precio" disabled>
            </div>

            <!-- Container for Cantidad and clickable icons "+" and "-" -->
            <div style="display: flex; align-items: center; gap: 10px;">
                <span>Cantidad:</span>
                <input type="text" id="inputCantidad" class="form-control" style="width: 50px;" value="0">
                <button type="button" id="btnDecrementar" class="btn btn-custom" style="color: rgb(166, 245, 6); border: 1px solid rgb(166, 245, 6); width: 24px; height: 24px;">-</button>
                <button type="button" id="btnIncrementar" class="btn btn-custom" style="color: rgb(166, 245, 6); border: 1px solid rgb(166, 245, 6); width: 24px; height: 24px;">+</button>
            </div>

            <!-- App button "Agregar" with shopping cart icon -->
            <button type="button" id="btnAgregar" class="btn btn-primary btn-primary-action" style="display: flex; align-items: center; color: black; border: 1px solid rgb(166, 245, 6);">
                Agregar
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </div>
</div>

<!-- Flex container for pre-checkout table and payment section side by side -->
<div class="container-fluid" style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 20px;">
    <!-- Pre-checkout table -->
    <div style="flex-grow: 1; background-color: black; padding: 20px; color: white; border-radius: 10px; height: 609px; overflow-y: auto;">
        <table id="tablaCarrito" class="table table-dark table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- Payment section, aligned to the right of the table -->
    <div style="width: 300px; background-color: black; padding: 20px; color: white; border-radius: 10px; margin-left: 20px;">
        <div style="text-align: left; margin-top: 20px;">
            <p id="totalCompra" style="font-size: 27px; font-weight: bold;">TOTAL: $0.00</p>
        <!-- Labels and inputs for payment -->
        <!-- Checkboxes stacked vertically -->
        <div style="margin-top: 20px;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionRadios" id="pagarEfectivo" value="Efectivo">
                <label class="form-check-label" for="option1">Efectivo</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionRadios" id="pagarTarjeta" value="Tarjeta">
                <label class="form-check-label" for="option2">Tarjeta Crédito/Débito</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionRadios" id="pagarTransfer" value="Transferencia">
                <label class="form-check-label" for="option3">Transferencia Bancaria</label>
            </div>
        </div>

        <!-- Floating input fields for Descuento, Efectivo Recibido, Cambio -->
        <div style="margin-top: 20px; color: black;">
            {% if user.is_staff == False %}
            <div class="input-group input-group-sm mb-3" style="width:150px;" hidden>
                <div class="form-floating">
                    <input class="form-control" id="floatingInputDescuento" placeholder="Descuento" value="0">
                    <label for="floatingInputDescuento">Descuento</label>
                </div>
                <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
            </div>
            {% else %}
            <div class="input-group input-group-sm mb-3" style="width:150px;">
                <div class="form-floating">
                    <input class="form-control" id="floatingInputDescuento" placeholder="Descuento" value="0">
                    <label for="floatingInputDescuento">Descuento</label>
                </div>
                <span class="input-group-text"><i class="fa-solid fa-percent"></i></span>
            </div>
            {% endif %}
            <div class="input-group input-group-sm mb-3" style="width:200px;">
                <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                <div class="form-floating">
                    <input class="form-control" id="floatingInputCantidad" placeholder="Cantidad Recibida">
                    <label for="floatingInputCantidad">Cantidad Recibida</label>
                </div>
            </div>
            <fieldset disabled>
                <div class="input-group input-group-sm mb-3" style="width:200px;">
                    <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                    <div class="form-floating">
                        <input class="form-control" id="floatingInputCambio" placeholder="Cambio" disable="True">
                        <label for="floatingInputCambio">Cambio</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <!-- "Aplicar" and "Pagar" buttons -->
        <div style="text-align: left; margin-top: 20px;">
            <button type="button" id="btnAplicar" class="btn btn-primary btn-primary-action" style="color: black">
                Aplicar
                <i class="fa-solid fa-check-double"></i>
            </button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div style="text-align: center; margin-top: 20px;">
                <button type="button" id="btnPagar" class="btn btn-primary btn-primary-action" style="width: 100%; color:black" disabled>
                    Pagar
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="pagoSuccessModal" tabindex="-1" aria-labelledby="pagoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pagoModalLabel">Pago Realizado Correctamente</h5>
            </div>
            <div class="modal-body">
                El pago se ha aplicado correctamente.
            </div>
            <div class="modal-footer">
                <button type="button" id="reimprimirTicket" class="btn btn-primary">Reimprimir Ticket</button>
                <button type="button" id="finalizarPago" class="btn btn-secondary" data-bs-dismiss="modal">Finalizar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Caja error -->
<div class="modal fade" id="cajaErrorModal" tabindex="-1" aria-labelledby="cajaErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cajaErrorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Es necesario tener una caja abierta para poder generar transacciones.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Definiciones de funciones en el ámbito global
    function buscarProducto() {
        let codigoProducto = $('#inputBuscarCodigo').val(); 

        $.ajax({
            url: '/ventas/buscar_producto/', // Ajusta esto a la URL de tu vista que manejará la búsqueda
            type: 'GET',
            data: {
                codigo: codigoProducto,
            },
            success: function(data) {
                // Asume que tu vista responde con los detalles del producto buscado, incluido el precio
                $('#inputPrecio').val(data.precio); 
                $('#inputDescripcionProducto').val(data.nombre);
                $('#inputCantidad').val(1); 
                $('#inputCantidad').attr('max', data.total_bodega);
            },
            error: function(xhr, status, error) {
                console.error("Error en la búsqueda:", error);
                
            }
        });
    }

    function incrementarCantidad() {
        let cantidad = parseInt($('#inputCantidad').val());
        const maxCantidad = parseInt($('#inputCantidad').attr('max'));
        if (cantidad < maxCantidad) { // Solo incrementa si es menor que el máximo
            $('#inputCantidad').val(cantidad + 1);
        } else {
            alert("Has alcanzado la cantidad máxima disponible para este producto.");
        }
    }
    
    function decrementarCantidad() {
        let cantidad = parseInt($('#inputCantidad').val());
        if (cantidad > 1) { // Asegura que la cantidad no sea menor que 1
            $('#inputCantidad').val(cantidad - 1);
        }
    }
    

    function agregarAlCarrito() {
        const codigoProducto = $('#inputBuscarCodigo').val();
        const descripcionProducto = $('#inputDescripcionProducto').val();
        const precio = parseFloat($('#inputPrecio').val());
        const cantidad = parseInt($('#inputCantidad').val());
        const maxCantidad = parseInt($('#inputCantidad').attr('max'));

        if (cantidad > maxCantidad) {
            alert('No puedes agregar más productos de los disponibles en bodega.');
            return; // Detener la ejecución si se supera el límite
        }

        // Validar que la cantidad sea mayor a 0 y que los campos no estén vacíos
        if(cantidad > 0 && codigoProducto && descripcionProducto && precio) {
            const productoEnCarrito = carrito.find(producto => producto.codigo === codigoProducto);
            if(productoEnCarrito) {
                productoEnCarrito.cantidad += cantidad;
            } else {
                carrito.push({
                    codigo: codigoProducto,
                    descripcion: descripcionProducto,
                    precio: precio,
                    cantidad: cantidad
                });
            }
            limpiarInputs();
            actualizarTablaCarrito();
        } else {
            alert("Por favor, complete todos los campos y asegúrese de que la cantidad sea mayor a 0.");
        }
    }
    
    function limpiarInputs() {
        // Restablece los valores de los inputs
        $('#inputBuscarCodigo').val('');
        $('#inputDescripcionProducto').val('');
        $('#inputPrecio').val('');
        $('#inputCantidad').val('0'); // Restablecer cantidad a 0
    }

    let carrito = [];
    let totalCompraPago = 0;

    function actualizarTablaCarrito() {
        const tbody = $('#tablaCarrito tbody');
        tbody.empty(); // Limpiar la tabla antes de agregar los nuevos elementos
        let totalCompra = 0;

        carrito.forEach(producto => {
            const subtotal = producto.precio * producto.cantidad;
            totalCompra += subtotal;
            const fila = `
                <tr>
                    <td>${producto.codigo}</td>
                    <td>${producto.descripcion}</td>
                    <td>$${producto.precio.toFixed(2)}</td>
                    <td>${producto.cantidad}</td>
                    <td>$${subtotal.toFixed(2)}</td>
                    <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarDelCarrito('${producto.codigo}')"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
            `;
            tbody.append(fila);
        });
        totalCompraPago = totalCompra;
        $('#totalCompra').text(`TOTAL: $${totalCompra.toFixed(2)}`);
        
        // Enable or disable the "Pagar" button based on the cart items
        if (carrito.length > 0) {
            $('#btnPagar').prop('disabled', false);
        } else {
            $('#btnPagar').prop('disabled', true);
        }
    }


    function eliminarDelCarrito(codigoProducto) {
        const indice = carrito.findIndex(producto => producto.codigo === codigoProducto);
        if(indice !== -1) {
            carrito.splice(indice, 1); // Eliminar el producto del array
            actualizarTablaCarrito(); // Actualizar la tabla
        }
    }

    document.getElementById('btnPagar').addEventListener('click', function(event) {
        if (carrito.length === 0) {
            event.preventDefault();
            alert('El carrito está vacío.');
            return;
        }

        const cantidadRecibida = document.getElementById('floatingInputCantidad').value;
        const cambio = document.getElementById('floatingInputCambio').value;
        const metodoPagoSeleccionado = Array.from(document.querySelectorAll('input[name="optionRadios"]')).some(radio => radio.checked);
    
        if (!cantidadRecibida || !cambio) {
            event.preventDefault(); // Previene la acción por defecto
            alert('Por favor, completa el campo de "Cantidad Recibida".');
            return;
        }
    
        if (!metodoPagoSeleccionado) {
            event.preventDefault(); // Previene la acción por defecto
            alert('Por favor, selecciona un método de pago.');
            return;
        }
    
        // Si todo es válido, procede con la lógica para enviar la información al backend
        $.ajax({
            url: '/ventas/check_caja_abierta/',
            method: 'GET',
            success: function(data) {
                if (data.caja_abierta) {
                    realizarPago(); // Proceed with payment
                } else {
                    // Show error modal if no "Caja" is open
                    $('#cajaErrorModal').modal('show');
                }
            },
            error: function(xhr, status, error) {
                console.error("Error checking 'Caja' status:", error);
            }
        });
    });
    function realizarPago() {
        const csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); // Obtener el token CSRF del formulario
        const costo = totalCompraPago
        const cantidadRecibida = document.getElementById('floatingInputCantidad').value;
        const descuento = document.getElementById('floatingInputDescuento').value;
        const cambio = document.getElementById('floatingInputCambio').value;
        const metodoPago = document.querySelector('input[name="optionRadios"]:checked').value;
        const datosCarrito = JSON.stringify(carrito);
    
        $.ajax({
            url: '/ventas/procesar_pago_venta/',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: csrfToken,
                costo: costo,
                cantidadRecibida: cantidadRecibida,
                descuento: descuento,
                cambio: cambio,
                metodoPago: metodoPago,
                carrito: datosCarrito,
            },
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    // Abrir modal de Bootstrap
                    $('#pagoSuccessModal').modal({
                        backdrop: 'static', // Evita cerrar el modal al hacer clic fuera de él
                        keyboard: false // Evita cerrar el modal con la tecla ESC
                      });
                    $('#pagoSuccessModal').modal('show');
                    // impresion ticket mediante view en django
                } else {
                    // Lógica en caso de fallo
                    alert('Error al procesar el pago. Por favor, inténtalo de nuevo.');
                }
            },
            error: function(xhr, status, error) {
                console.error("ERROR en la solicitud:", error);
            },
        });
    }
    $('#reimprimirTicket').on('click', function() {
        $.ajax({
            url: '/ventas/reimprimir_ticket/',
            method: 'GET',  // Cambia a POST si es necesario
            success: function(response) {
                if(response.success) {
                    alert('Ticket Reimpreso');
                    // Cualquier lógica adicional aquí
                } else {
                    alert(response.message);
                }
            },
            error: function() {
                alert('Error al intentar reimprimir el ticket.');
            }
        });
    });
    $('#finalizarPago').on('click', function() {
        window.location.href = '/ventas/';
    });

    // El bloque DOMContentLoaded para adjuntar eventos
    document.addEventListener('DOMContentLoaded', function () {
        $('#inputBuscarCodigo').on('keypress', function(e) {
            if (e.which == 13) { // Código ASCII para Enter
                buscarProducto(); // Llama a la función de búsqueda
            }
        });

        $('#btnIncrementar').click(incrementarCantidad);
        $('#btnDecrementar').click(decrementarCantidad);
        $('#btnAgregar').click(agregarAlCarrito); // Asegúrate de que el ID 'btnAgregar' sea correcto

        $('#btnLimpiarCodigo').click(function() {
            $('#inputBuscarCodigo').val(''); // Limpia el input de buscar código
        });

        document.getElementById('btnAplicar').addEventListener('click', function() {
            // Obtener los valores de los inputs
            const costo = totalCompraPago;
            console.log(costo)
            const cantidadRecibida = parseFloat(document.getElementById('floatingInputCantidad').value);
            const descuento = parseFloat(document.getElementById('floatingInputDescuento').value) || 0; // Por defecto a 0 si está vacío
    
            // Calcular el descuento sobre el costo
            const descuentoTotal = costo * (descuento / 100);
            
            // Calcular el cambio
            const cambio = cantidadRecibida - (costo - descuentoTotal);
    
            // Establecer el valor del campo de Cambio
            document.getElementById('floatingInputCambio').value = cambio.toFixed(2); // A dos decimales
        });
    });

    
</script>
{% endblock  %}
